.signup-form-container {
    height: 700px;
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(149, 160, 167, 1);
    border-radius: 8px;
    box-shadow: 12px 12px 2px 1px rgba(255, 224, 179, 1);
}

.error-text {
    text-align: center;
    color: red;
    margin: 0px;
}

.signup-div {
    width: 415px;
    height: 55px;
}

.signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    width: 415px;
    height: 55px;
    margin-top: 80px;
    border-radius: 5px;
    border: 1px solid #95A0A7;
    background-color: white;
    cursor: pointer;
}