.review-item{
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;
    width: 570px;
    display: flex;
    margin-top: 20px;
}
.review-item img{
    width: 90px;
}
.review-item-details p{
    margin: 0;
}
.review-details-container{
    display: flex;
}