.login-form-container {
    width: 500px;
    height: 600px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(149, 160, 167, 1);
    border-radius: 8px;
    box-shadow: 12px 12px 2px 1px rgba(255, 224, 179, 1);
}

.form-title {
    font-size: 35px;
    font-weight: 400;
    margin-top: 38px;
    text-align: center;
}

.input-group input {
    width: 415px;
    height: 55px;
    border: 1px solid #95A0A7;
    border-radius: 5px;
    font-size: 20px;
    padding: 0px 10px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    height: 20px;
    margin-left: 5px;
    margin-bottom: 9px;
}

.form-text {
    margin-top: 8px;
    text-align: center;
}

.submit-btn {
    display: flex;
    justify-content: center;
    border: none;
    font-size: 25px;
    width: 415px;
    height: 55px;
    margin-top: 44px;
    background: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background: rgba(255, 153, 0, 0.5);
}

.form-link {
    text-decoration: none;
    margin-top: 9px;
    color: #FF9900;
}

.google-login {
    width: 415px;
    height: 55px;
}

.google-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    width: 415px;
    height: 55px;
    margin-top: 80px;
    border-radius: 5px;
    border: 1px solid #95A0A7;
    background-color: white;
    cursor: pointer;
}

.google-icon {
    height: 32px;
    width: 32px;
    margin-right: 8px;
}